<div class='detail-product__wrapper'>
  <section class='card'>
    <div class='wrapper row'>
      <div class='preview col-md-6'>
       <div class='preview-pic tab-content'>
        {{#each product.images}}
          <div class='tab-pane {{#if @first}}active{{/if}}' id='pic-{{@index}}'>
            <img src='{{this}}' alt='car' />
          </div>
        {{/each}}
      </div>

      <ul class='preview-thumbnail nav nav-tabs'>
        {{#each product.images}}
          <li class='nav-item'>
            <a class='nav-link {{#if @first}}active{{/if}}' id='pic-{{@index}}-tab' data-bs-toggle='tab' href='#pic-{{@index}}'>
              <img src='{{this}}' alt='car' />
            </a>
          </li>
        {{/each}}
      </ul>

      </div>
      <div class='details col-md-6'>
        <h3 class='product-title'>{{product.brand}}
          {{product.model}}</h3>
        <h8 class='price'>current price:
          <span>${{product.price}}</span></h8>

        <div class='rating'>
          <div class='stars'>
          </div>
          {{#if (eq totalRating 1)}}
            <span class='review-no'>{{totalRating}} review</span>
          {{else}}
            <span class="review-no" >
              {{totalRating}} reviews
            </span>
          {{/if}}
        </div>
        <div>
            <p><strong>Model:</strong> {{product.year}}</p>
            <p><strong>Mileage:</strong> {{product.mileage}} mi</p>
            <p><strong>Horsepower:</strong> {{product.horsepower}}HP</p>
            <p><strong>Transmission:</strong> {{product.transmission}}</p>
          </div>
        <div class='action d-flex gap-3'>
          <div class="position-relative">
            <button class='add-to-cart btn btn-default' type='button' data-id='{{product._id}}'>add to cart</button>
            <i class='fa fa-spinner d-none' id="icon-loading"></i>
          </div>
          <button class='like btn btn-default' type='button'><span class='fa fa-heart'></span></button>
        </div>
        <p class='vote'><strong>91%</strong>
          of buyers enjoyed this product!
          <strong>(87 votes)</strong></p>
      </div>
      
    </div>
    <div class="product-tabs-container">
      <ul class="product-tabs" id="productTabs" role="tablist">
        <li class="product-tab-item" role="presentation">
          <button class="product-tab-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab" aria-controls="details" aria-selected="true">Product Details</button>
        </li>
        <li class="product-tab-item" role="presentation">
          <button class="product-tab-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false">Reviews</button>
        </li>
      </ul>
      <div class="tab-content" id="productTabsContent">
        <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
          <!-- Product details content -->
          <p class='product-description'>{{product.description}}</p>
          <div>
            <p><strong>Model:</strong> {{product.year}}</p>
            <p><strong>Mileage:</strong> {{product.mileage}} mi</p>
            <p><strong>Horsepower:</strong> {{product.horsepower}}HP</p>
            <p><strong>Transmission:</strong> {{product.transmission}}</p>
          </div>

          <h5 class='colors' style='margin: 7px 0 7px 0;'>TYPE: {{product.style}}</h5>
        </div>
        <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
          
          <div class="reviews-container mt-3">
            <div class="review-header">
              <h2 class="review-title">Reviews</h2>
              
              <div class="rating-overview">
                <div class="rating-score">
                  <div class="average-rating">{{roundUp product.averageRating}} <span class="rating-scale">on 5</span></div>
                  <div class="stars justify-content-center">
                  </div>
                </div>
                
                <div class="rating-filters">
                  
                </div>
              </div>
            </div>
            <div class="review-list">
              <!-- Reviews will be dynamically injected here -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class='card gap-2'>
    <h2 class='detail-product__title'>
      Related products
    </h2>
    <div class='col-md-12'>
      <!-- Tab Navigation -->
      <ul class='nav nav-tabs' id='relatedProductsTabs' role='tablist'>
        <li class='nav-item' role='presentation'>
          <a
            class='nav-link active'
            id='related-by-brand-tab'
            data-bs-toggle='tab'
            href='#related-by-brand'
            role='tab'
            aria-controls='related-by-brand'
          >Brand</a>
        </li>
        <li class='nav-item' role='presentation'>
          <a class='nav-link' id='related-by-year-tab' data-bs-toggle='tab' href='#related-by-year' role='tab' aria-controls='related-by-year'>Model
            Year</a>
        </li>
        <li class='nav-item' role='presentation'>
          <a
            class='nav-link'
            id='related-by-price-tab'
            data-bs-toggle='tab'
            href='#related-by-price'
            role='tab'
            aria-controls='related-by-price'
          >Price Range ($10000)</a>
        </li>
      </ul>

      <!-- Tab Content -->
      <div class='tab-content mt-2' id='relatedProductsContent'>
        <!-- Related by Brand -->
        <div class='tab-pane active' id='related-by-brand' role='tabpanel' aria-labelledby='brand-tab'>
          <div class='container-fluid related-product__container'>
            <div id='brand-related-product-list' class='row g-3'>
              <!-- Products will be dynamically injected here -->
            </div>
          </div>
        </div>

        <!-- Related by Year -->
        <div class='tab-pane' id='related-by-year' role='tabpanel' aria-labelledby='year-tab'>
          <div class='container-fluid related-product__container'>
            <div id='year-related-product-list' class='row g-3'>
              <!-- Products will be dynamically injected here -->
            </div>
          </div>
        </div>

        <!-- Related by Price -->
        <div class='tab-pane' id='related-by-price' role='tabpanel' aria-labelledby='price-tab'>
          <div class='container-fluid related-product__container'>
            <div id='price-related-product-list' class='row g-3'>
              <!-- Products will be dynamically injected here -->
            </div>
          </div>
        </div>
      </div>

      <!-- Single pagination outside of tabs -->
      <nav aria-label='Related product pagination' class='mt-3'>
        <ul class='pagination d-flex justify-content-center' id='related-products-pagination'>
          <!-- Pagination links will be dynamically injected here -->
        </ul>
      </nav>

    </div>
  </section>
</div>


<div id="imageModal" class="modal" >
  <span class="close">&times;</span>
  <button class="prev">&lt;</button>
  <img class="modal-content" id="modalImage">
  <button class="next">&gt;</button>
</div>


<script>
  const product = {{{json product}}};

  gtag('event', 'view_product', {
    product_id: product._id,
    page_path: window.location.pathname
  })
</script>
<script type='module' src='/js/products/detail.js'></script>
<script type='module' src='/js/products/review.js'></script>

