<section id='featured-cars' class='featured-cars'>
    <div class='container'>
        <div class='section-header'>
            <p class='sub-title'>
                Hãy khám phá những sản phẩm nổi bật của chúng tôi
            </p>
            <h2 class='main-title'>Sản phẩm của chúng tôi</h2>
            <p class='section-description'>
                Mang đến cho bạn những mẫu xe sang trọng, tiện nghi và đẳng cấp.
            </p>
        </div>
        <div class="featured-cars-filter" id = "filter-form">
            <form id="filterForm" method="GET" action="/products">
                <div class="row">
                    <div class="col-md-12">
                    <div class="model-search-content">
                        <div class="row mb-3">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm..." name="search" value="{{queries.search}}">
                                <button class="btn btn-outline-secondary" id="btn-search">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row justify-content-around mx-0">
                        <!-- Select Year -->
                        <div class="col-md-offset-1 col-md-2 col-sm-12">
                            <div class="single-model-search">
                            <h2>Năm</h2>
                            <div class="model-select-icon">
                                <select class="form-control" name="year">
                                    <option value="">Chọn năm</option>
                                    {{#each years}}
                                        <option value="{{this.value}}" {{#if (eq ../queries.year this.value)}}selected{{/if}}>
                                            {{this.name}}
                                        </option>
                                    {{/each}} 
                                </select>
                            </div>
                            </div>
                            <!-- Select Category -->
                            <div class="single-model-search">
                            <h2>Kiểu dáng</h2>
                            <div class="model-select-icon">
                                <select class="form-control" name="category">
                                    <option value="">Chọn kiểu dáng</option>
                                    {{#each categories}}
                                        <option value="{{this.name}}" {{#if (eq ../queries.category this.name)}}selected{{/if}}>
                                            {{this.label}}
                                        </option>
                                    {{/each}} 
                                </select>
                            </div>
                            </div>
                        </div>
                        <!-- Select Make -->
                        <div class="col-md-offset-1 col-md-2 col-sm-12">
                            <div class="single-model-search">
                            <h2>Hãng xe</h2>
                            <div class="model-select-icon">
                                <select class="form-control" name="brand">
                                    <option value="">Chọn hãng</option>
                                    {{#each brands}}
                                        <option value="{{this.value}}" {{#if (eq ../queries.brand this.value)}}selected{{/if}}>
                                            {{this.name}}
                                        </option>
                                    {{/each}}                  
                                </select>
                            </div>
                            </div>
                            <!-- Select Condition -->
                            <div class="single-model-search">
                            <h2>Tình trạng</h2>
                            <div class="model-select-icon">
                                <select class="form-control" name="status">
                                    <option value="">Chọn tình trạng</option>
                                    {{#each statuses}}
                                        <option value="{{this.name}}" {{#if (eq ../queries.status this.name)}}selected{{/if}}>
                                            {{this.label}}
                                        </option>
                                    {{/each}}      
                                </select>
                            </div>
                            </div>
                        </div>
                        <!-- Select Model -->
                        <div class="col-md-offset-1 col-md-2 col-sm-12">
                            <div class="single-model-search">
                            <h2>Hộp số</h2>
                            <div class="model-select-icon">
                                <select class="form-control" name="transmission">
                                    <option value="">Chọn hộp số</option>
                                {{#each transmissions}}
                                        <option value="{{this.name}}" {{#if (eq ../queries.transmission this.name)}}selected{{/if}}>
                                            {{this.label}}
                                        </option>
                                    {{/each}}   
                                </select>
                            </div>
                            </div>
                            <!-- Select Price -->
                            <div class="single-model-search">
                            <h2>Nhập mức giá ($)</h2>
                            <div id="model-price" class="price-range">
                                <input type="number" class="form-control price-input" name="price_min" placeholder="$Từ" min="0" value="{{queries.price_min}}">
                                <span>-</span>
                                <input type="number" class="form-control price-input" name="price_max" placeholder="$Đến" min="0" value="{{queries.price_max}}">
                            </div>
                            <div class="text-center">
                                <span id="price-error" class="text-danger"></span>
                            </div>
                            </div>
                        </div>
                        <!-- Search Button -->
                        <div class="col-md-2 col-sm-12">
                            <div class="single-model-search text-center">
                            <button class="welcome-btn model-search-btn">Tìm kiếm</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </form>
        </div>
        <div class='container'>
            <div class='row featured-cars-content g-3' id='product-list'> <!-- Thêm id cho sản phẩm để jQuery cập nhật -->
                <h2 id="search-inform"></h2>
                {{#each products}}
                    <div class='col-lg-3 col-md-4 col-sm-6'>
                        {{> CardProduct product=this}}
                    </div>
                {{else}}
                <div class='col-lg-12'>
                    <div class='find-nothing text-center' >
                            <h2 style = "font-size: large; color: #978e8e">Không tìm thấy sản phẩm</h2>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="d-flex">
            {{#if pages}}
                <nav class="mx-auto">
                    <ul class="pagination" style="margin-top: 2rem;">
                        <!-- Previous Button -->
                        <li class="page-item btn-previous {{#unless (gt current 1)}}disabled{{/unless}}">
                            <a class="page-link" name = "previous-page" value = "{{dec current}}" href="" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        
                        <!-- Page Numbers -->
                        {{!-- {{#each pagesArray}}
                            <li class="page-item {{#if (eq this ../current)}}active{{/if}}">
                                <a class="page-link" name="current" value="{{this}}" href="">{{this}}</a>
                            </li>
                        {{/each}} --}}

                        <!-- Next Button -->
                        <li class="page-item btn-next {{#unless (lt current pages)}}disabled{{/unless}}">
                            <a class="page-link" name = "next-page" value = "{{inc current}}" href="" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                     <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            const currentPage = {{current}};
                            const totalPages = {{pages}};

                            function generatePagination(currentPage, totalPages) {
                                const paginationItems = [];

                                function addPageItem(page, text = page) {
                                    if (text === '...') {
                                        paginationItems.push(`
                                            <li class="page-item disabled">
                                                <span class="page-link h-100 bg-white shadow-sm border-0">${text}</span>
                                            </li>
                                        `);
                                    } else {
                                        
                                        paginationItems.push(`
                                            <li class="page-item ${page === currentPage ? 'active' : ''}">
                                                <a class="page-link" name="current" value="${text}" href="">${text}</a>
                                            </li>
                                        `);
                                    }
                                }

                                  if (totalPages <= 5) {
                                    for (let i = 1; i <= totalPages; i++) {
                                        addPageItem(i);
                                    }
                                } else {
                                    addPageItem(1);

                                    if (currentPage > 3) {
                                        addPageItem(2, '...');
                                    }

                                    for (let i = Math.max(2, currentPage - 1); i <= Math.min(totalPages - 1, currentPage + 1); i++) {
                                        addPageItem(i);
                                    }

                                    if (currentPage < totalPages - 2) {
                                        addPageItem(totalPages - 1, '...');
                                    }

                                    addPageItem(totalPages);
                                }
                                $('.btn-previous').after(paginationItems.join(''));
                            }
                            generatePagination(currentPage, totalPages);
                        })
                    </script>
                </nav>
            {{/if}}
        </div>
</div>
    <!--/.container-->
</section>

<form name = "detail-form" method="GET" ></form>

<script src="/js/products/index.js"></script>
