<section id='featured-cars' class='featured-cars'>
  <div class='container'>
    <div class='section-header'>
      <p class='sub-title'>Hãy khám phá những sản phẩm nổi bật của chúng tôi</p>
      <h2 class='main-title'>Sản phẩm của chúng tôi</h2>
      <p class='section-description'>Mang đến cho bạn những mẫu xe sang trọng, tiện nghi và đẳng cấp.</p>
    </div>
    <div class='featured-cars-filter' id='filter-form'>
      <div class='row'>
        <div class='col-md-12'>
          <div class='model-search-content'>
            <div class='row mb-3'>
              <div class='input-group input-group-sm search-input'>
                <input type='text' class='form-control' placeholder='Search products...' name='search' value='' id='searchInput' />
                <button class='btn btn-outline-secondary' id='btn-search'>
                  <i class='fas fa-search'></i>
                </button>
              </div>
            </div>
            <div class='row justify-content-between mx-0'>
              <!-- Select Year -->
              <div class='col-md-offset-1 col-md-2 col-sm-12'>
                <div class='single-model-search'>
                  <h2>Year</h2>
                  <div class='model-select-icon'>
                    <select class='form-control' name='year' id='yearFilter'>
                      {{!-- <option value=''>All</option> --}}
                      {{!-- {{#each years}}
                        <option value='{{this.value}}'>
                          {{this.name}}
                        </option>
                      {{/each}} --}}
                    </select>
                  </div>
                </div>
                <!-- Select style -->
                <div class='single-model-search'>
                  <h2>Style</h2>
                  <div class='model-select-icon'>
                    <select class='form-control' name='style' id='styleFilter'>
                      {{!-- <option value=''>Select style</option> --}}
                      {{!-- {{#each styles}}
                        <option value='{{this.value}}'>
                          {{this.name}}
                        </option>
                      {{/each}} --}}
                    </select>
                  </div>
                </div>
              </div>
              <!-- Select Make -->
              <div class='col-md-offset-1 col-md-2 col-sm-12'>
                <div class='single-model-search'>
                  <h2>Brand</h2>
                  <div class='model-select-icon'>
                    <select class='form-control' name='brand' id='brandFilter'>
                      {{!-- <option value=''>Select brand</option> --}}
                      {{!-- {{#each brands}}
                        <option value='{{this.value}}'>
                          {{this.name}}
                        </option>
                      {{/each}} --}}
                    </select>
                  </div>
                </div>
                <!-- Select Condition -->
                <div class='single-model-search'>
                  <h2>Status</h2>
                  <div class='model-select-icon'>
                    <select class='form-control' name='status' id='statusFilter'>
                      {{!-- {{#each statuses}}
                        <option value='{{this.value}}'>
                          {{this.name}}
                        </option>
                      {{/each}} --}}
                    </select>
                  </div>
                </div>
              </div>
              <!-- Select Model -->
              <div class='col-md-offset-1 col-md-2 col-sm-12'>
                <div class='single-model-search'>
                  <h2>Transmission</h2>
                  <div class='model-select-icon'>
                    <select class='form-control' name='transmission' id='transmissionFilter'>
                      {{!-- {{#each transmissions}}
                        <option value='{{this.value}}'>
                          {{this.name}}
                        </option>
                      {{/each}} --}}
                    </select>
                  </div>
                </div>
                <!-- Select Price -->
                <div class='single-model-search'>
                  <h2>Price Range ($)</h2>
                  <div class='model-select-icon'>
                    <select class='form-control' name='price' id='priceFilter'>
                      {{!-- {{#each prices}}
                        <option value='{{this.priceMin}}-{{this.priceMax}}'>
                          <!-- 1 1 là true -->
                          ${{this.priceMin}}
                          - ${{this.priceMax}}
                        </option>
                      {{/each}} --}}
                    </select>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='row featured-cars-content g-3' id='product-list'>
        <!-- Thêm id cho sản phẩm để jQuery cập nhật -->
      </div>
    </div>
    <div class='d-flex justify-content-between align-items-center mt-4' style='gap: 1rem;'>
      <div class='d-none d-sm-block' style='width: 100px;'></div>
      <!-- Spacer for small screens and up -->
      <nav aria-label='Page navigation' class='flex-grow-1 d-flex justify-content-center'>
        <ul class='pagination' style='margin: 0;'>
          <!--pagination here-->
        </ul>
      </nav>
      <!-- Items per page select -->
      <select class='form-select' aria-label='Items per page' style='width: auto;' name='limit' id='limit'>
        {{!-- {{#each perPages}}
          <option value='{{this.value}}'>{{this.name}} / trang</option>
        {{/each}} --}}
      </select>

    </div>
  </div>
</section>
<script type='module' src='/js/products/index.js'></script>