<div class='card-product__container'>
    <div class='card-product__header'>
        <a href='/products/{{_id}}'>
            <img src='{{images[0]}}' alt='car' />
            {{#if (eq status 'new')}}<div class='new-arrival-badge'>New Arrival</div>
            {{else}}
            {{/if}}
        </a>
    </div>
    <div class='card-product__body'>
        <div class='product-header'>
            <a href='/products/{{_id}}' class='card-product__brand'>
                {{brand}}
            </a>
            <h3 class='card-product__price'>${{price}}</h3>
        </div>
        <div class='star-rating'>
            <span class='star'>★</span>
            <span class='star'>★</span>
            <span class='star'>★</span>
            <span class='star'>★</span>
            <span class='star star-empty'>★</span>
            <span class='rating-text'>(4.0)</span>
        </div>
    </div>
    <div class='card-product__footer'>
        <p>
            <span class='car-spec-label'>Model: </span>
            <span class='car-spec-value'>{{year}}</span>
        </p>
        <a href='/products/{{_id}}' class='view-details-btn'>View Details</a>
    </div>
</div>