<div class='purchased-list-wrapper'>
  <div class='purchased-list-container'>
    <div class='purchased-header'>
      <h1><i class='fas fa-shopping-bag'></i> List of cars</h1>
    </div>

    <div class='purchased-content'>
      {{#if user.metadata.purchasedProducts.length}}
        <div class='car-grid'>
          {{#each user.metadata.purchasedProducts}}
            <div class='car-card'>
              <div class='car-image'>
                <img src='{{this.product.images.[0]}}' alt='{{this.product.brand}} {{this.product.model}}' />
              </div>
              <div class='car-details'>
                <h3>{{this.product.brand}} {{this.product.model}}</h3>
                <div class='car-info'>
                  <p><i class='fas fa-calendar'></i> Year: {{this.product.year}}</p>
                  <p><i class='fas fa-tachometer-alt'></i> Mileage: {{formatNumber this.product.mileage}} km</p>
                  <p><i class='fas fa-dollar-sign'></i> Price: {{formatCurrency this.product.price 'VND'}}</p>
                </div>
                <div class='purchase-info'>
                  <p><i class='fas fa-clock'></i> Purchase date: {{formatDate this.purchaseDate}}</p>
                  <p><i class='fas fa-box'></i> Quantity: {{this.quantity}}</p>
                  <p><i class='fas fa-check-circle'></i> Status: Bought</p>
                </div>
                <a href='/products/{{this.product._id}}' class='btn btn-primary btn-view-details'>
                  <i class='fas fa-eye'></i>
                  View details
                </a>

                {{#if (eq this.reviewStatus 'reviewed')}}
                  <a class='btn btn-secondary btn-reviewed' disabled>
                    <i class='fas fa-check'></i>
                    Already reviewed
                  </a>
                {{else}}
                  <a class='btn btn-secondary btn-rate-product' data-id='{{this.product._id}}'>
                    <i class='fas fa-star'></i>
                    Leave a review
                  </a>
                {{/if}}
              </div>
            </div>
          {{/each}}
        </div>
      {{else}}
        <div class='empty-state'>
          <i class='fas fa-car-side empty-icon'></i>
          <p>You haven't bought any cars</p>
          <a href='/products' class='btn btn-primary'>See cars list</a>
        </div>
      {{/if}}
    </div>
  </div>
</div>
<script type='module' src='/js/user/purchasedList.js'></script>